src/.vs/
src/FileExchange.MVC/bin
src/FileExchange.MVC/obj
src/FileExchange.MVC/wwwroot
/.vs
/src/FileExchange.Business/obj
/src/FileExchange.Data/obj
/src/FileExchange.Entities/obj
/src/FileExchange.Business/bin/Debug/net6.0
/src/FileExchange.Data/bin/Debug/net6.0
/src/FileExchange.Entities/bin/Debug/net6.0
/src/FileExchange.Common/bin/Debug/net6.0
/src/FileExchange.Common/obj
/src/FileExchange.Common/obj/Debug/net6.0/ref/FileExchange.Common.dll
